/*
Common part

*/

/* CSS Document */
body{ margin:0; padding:0; font-size:12px; color:#2B2B2B; font-family: "微软雅黑","宋体",Verdana, Arial, Helvetica, sans-serif;}
html{
overflow-x:hidden;
}
/*公用部分*/
p
{
    text-align:left;
}
ul,ol,h1,h2,h3,h4,h5,form,dl,dt,dd{ margin:0; padding:0;}
a,area{behavior:url(js/blur.htc)}
ul,ol{ list-style:none}s
.clear0{ height:0; font-size:0; clear:both; overflow:hidden}
.yellow{ color:#ed6d00}
.lightGray{ color:#BEBEBE}
.prePage,.nextPage,.newsUL li a:hover,.mailInput,.mailInputHov,.mailSubmit,.calendarEvent,.calendarEventHov,.preMonth,.nextMonth,.preMonthHov,.nextMonthHov,.actNextBox a.leftArrow,.actNextBox a.rigArrow,.rigArrowSp,.rigMore{ background:url(../../images/galleryIcon.png) no-repeat;}
.followBox,a.douban_Btn:hover,a.sina_Btn:hover,a.flichr_Btn:hover,a.sinaT_Btn:hover,a.sohuT_Btn:hover,a.kaixin001_Btn:hover{ background:url(../../images/followMeBg.png) no-repeat;}
a{ color:#6C6C6C; text-decoration:none;}
a:hover{ color:#ff8400}
.pRela{ position:relative}
.pAbso{ position:absolute}
.fLeft{ float:left}
.fRight{ float:right}



/*new*/
.top
{
position:relative;
width:980px;
height:110px;
margin:0 auto;
margin-top:6px;
}

.logoLink
{
display:block;
width:980px;
height:110px;
float:left;
}
.logoLink img
{
border:none;
}
/*.top p{ position:absolute; width:120px; top:-6px; right:-20px;}
.top p a{text-decoration:none; margin-left:15px; line-height:40px; color:#414141;}
.top p a:hover{ color:#E35000}
*/
.topTab
{
text-align:left;
float:right;
margin-right:40px!important;
margin-right:20px;
margin-top:21px;
font-family:Arial, Helvetica, sans-serif;
}
.topTab tr td
{
line-height:16px;
}
.topTab a
{
color:#464646;
text-decoration:none;
}

.topTab a:hover
{
color:#9B9B9B;
}
.navBg
{
   position:relative;
width:980px;
height:25px;
margin:0px auto;
/*border-right:1px solid #535154;*/
background-color:#c21206
}
.navBg a
{
float:inherit;
display:inline;
height:25px;
width:150px;
overflow:hidden;
background-color:#d25e56;
font-size:large;

}

.navContent
{
position:relative;
width:980px;
height:30px;
*height:30px;
margin:0 auto;
}
.navDivLink,.navDivLink02
{
position:absolute;
z-index:2px;
padding-top:10px;
top:0px;
left:150px;
visibility:hidden;
background:url(../../images/sanJiao.gif) no-repeat 20px 5px;
}
.navDivLink02
{
background:url(../../images/sanJiao.gif) no-repeat 210px 5px;
}
.navDivLink a,.navDivLink02 a
{
display:block;
float:left;
margin:0 1px 0 0;
padding:3px 10px;
background:#231815;
color:#fff;
text-decoration:none;
}
.navDivLink a span{ visibility:hidden}
.navDivLink a span,.navDivLink02 a span
{
color:#dcddde;
}
.navDivLink a:hover,.navDivLink02 a:hover
{
background:#eceded;
color:#434343;
}

.navDivLink a:hover span,.navDivLink02 a:hover span
{
color:#f2f3f3;
}
/*new*/

.allCen{background:#ededed;}

.contentCen
{
width:1001px;
margin: 0 auto;

}


/*begin news part */

.centerBox{background:#efeff0; margin-top:8px}
.centerSize{ width:904px; margin: 0 auto; padding-top:10px}
.cenLeftHome{ width:269px; height:489px; float:left;}
.homeNewsBox{ background:#FFFFFF; height:408px; overflow:hidden; }
.newsTit{ position:relative; line-height:28px; text-indent:8px; letter-spacing:4px; font-size:14px;}
.newsOutBox{background:#efeff0; height:374px;  margin:0 5px; overflow:hidden; position:relative}
.newsUL{ padding:4px 8px; }
.newsUL li a{ display:inline-block;  width:100%;line-height:20px; padding:7px 0 7px 5px; border-bottom:1px dashed #CDCDCD; color:#2B2B2B; text-decoration:none}
.newsUL li a p{width:230px; text-overflow:ellipsis; -o-text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.newsUL li a:hover{ background-position:0 -33px;}
.newsUL li a:hover p{ font-size:13px; font-weight:bold;}
.newsUL li a:hover,.newsUL div a:hover{color:#ff4800}
.newNav{ padding-bottom:20px;}
.newNav li{ height:20px; margin-top:15px; text-indent:30px; font-weight:bold; }
.newNav li a{ color:#4F4F4F }
.newNav li a.newHov,.newNav li a.newHov:hover{ color:#fe6f10}
.newNav li a:hover{ color:#ff8400}
.newLeftBox{width:131px; float:left;}
.newRigBox{width:700px; float:left; margin:15px 0 0 40px; line-height:24px;}
.clearNew{clear:both; line-height:4px; height:4px; overflow:hidden;  background:#FFFFFF;}

.aboutWeTit{ font-size:14px; background:#FFFFFF; height:24px; line-height:24px; text-indent:10px; color:#A0A0A0}



/*end news part */

/*begin main part */

#main { width: 100%; min-width: 980px; margin: 0 0 10px; clear: both; color: #76797c; overflow: hidden; }
#content,
#main .content,
#headlines,
#homefooter { width: 980px; margin: 0 auto 10px; padding:0; }

#billboard { text-align:center; }

body {TEXT-ALIGN: center;}


/*begin promos part */


.promos ul { width: 980px; /*height: 250px;*/ margin: 0 -5px; _position: relative; }
.promos ul li { width: 220px; margin-left: 6px; *margin-left: 7px; display: inline-block; *display: inline; *zoom: 1; padding: 3px; _padding-bottom: 0; /*background: white;  border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -khtml-border-radius: 5px; -webkit-box-shadow: rgba(0,0,0,0.398438) 0 1px 3px; -moz-box-shadow: rgba(0,0,0,0.398438) 0 1px 3px; box-shadow: rgba(0,0,0,0.398438) 0 1px 3px; border: 1px solid; border-color: #e5e5e5 #dbdbdb #d2d2d2; */}
.promos ul li:nth-child(1n) { border: none; } /* reset border for smart browsers */
.promos ul li a { width: 240px; /*height:250px;*/ margin: 0; padding-top:0; display: block; /*background: #f5f5f5; background:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eeeeee)); background: -moz-linear-gradient(top, #fafafa, #eeeeee);*/ }
.promos ul li a:hover { /*background: #fdfdfd; background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#fafafa)); background: -moz-linear-gradient(top, #fdfdfd, #fafafa); */}
.promos ul li a img { margin: 0; display: block; }


/*end promos part */


/*begin footer part */
#homefooter { margin: 0 auto 22px; text-align: center; font-size: 10px; color: #6e6e6e; }
#homefooter .piped a { border-color: #ccc; }

#homefooter #links { border: 1px solid #e5e5e5; border-width: 1px 0; padding: .5em 0; margin: 1.5em 0 2em; *margin-top: .5em; zoom: 1; }
#homefooter #links:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#homefooter #links p { margin-bottom: 0; }
#homefooter #links p.left { float: left; width: auto; text-align: left; text-indent: 10px; }
#homefooter #links ul.right { float: right; padding-right: 10px; margin-bottom: 0; }
#homefooter #links ul.piped a { padding-left: .5em; margin-left: .5em; }

#homefooter p.left a { margin-right: 0; }
#homefooter p.left { width: 50%; float: left; text-align: left; text-indent: 10px; }
#homefooter p.right { width: 50%; float: right; }
#homefooter p.links { border: 1px solid #e5e5e5; border-width: 1px 0; padding: .5em 0; margin: 1.5em 0 2em; }

#homefooter .sosumi { clear: both; }
#homefooter .sosumi p { margin-bottom: 0; }
#homefooter .sosumi p.copyright { display: inline; padding-right: 0.75em; } 
#homefooter .sosumi ul.piped { display: inline; display: -moz-inline-box; *display: inline; margin-bottom: 0; padding-right: 0.75em;}
#homefooter .sosumi ul.piped li { float: none; }
#homefooter .sosumi ul.piped li a.first { margin-right: -0.2em; }

/*end footer part */



/*begin sitemap part */
#sitemap a
{
    font-family:楷体;
    font-size:medium;
    
}

#sitemap
{
    background:#f0f0f0;
    width:960px; 
    margin:auto;
}

/*end sitemap part */

/*begin gallery part */
	#gallery {

		background-color: #444;

		

		width: 960px;
		
        margin:auto;
	}

	#gallery ul { list-style: none; }

	#gallery ul li { display: inline; }

	#gallery ul img {

		border: 5px solid #3e3e3e;

		border-width: 5px 5px 20px;

	}

	#gallery ul a:hover img {

		border: 5px solid #fff;

		border-width: 5px 5px 20px;

		color: #fff;

	}

	#gallery ul a:hover { color: #fff; }


/*end gallery part */



/*begin business part */
#content #grid { 
		font-size: 1em; 
		width: 946px; 
		overflow: hidden; 
		padding: 8px 6px 0; 
	}
	#content #grid ul { 
		clear: left; 
		font-size: 1em; 
		height: 164px; 
		overflow: hidden; 
		width: 1050px;
		margin: -7px 0 4px;
	}
	#content #grid li {
		width: 310px;
		float: left;
		margin-right: 2px;
		margin: 9px 3px 12px;
		background: url(/images/ourbusiness/oil.jpg) no-repeat 50% 0; 
		height: 155px;
		padding: 0;
		overflow: hidden;
		position: relative;
		}
		#content #grid li.item1 {
			background: url(../../images/ourbusiness/ferrous.jpg) no-repeat 50% 0; 
		} 
		#content #grid li.item2 {
			background: url(../../images/ourbusiness/non-ferrous.jpg) no-repeat 50% 0; 
		}
		#content #grid li.item3 {
			background: url(../../images/ourbusiness/coal2.jpg) no-repeat 50% 0; 
		}
		#content #grid li.item4 {
			background: url(../../images/ourbusiness/shipping.jpg) no-repeat 50% 0; 
		}
		#content #grid li.item5 {
			background: url(../../images/ourbusiness/assets.jpg) no-repeat 50% 0; 
		}
		#content #grid li .trail { display: inline; }
			#content #grid li.small .trail { display: none; }
		#content #grid li .trans { 
			background: url(../../images/trans-black-50-norepeat.png) repeat; 
			color: #fff; 
			padding: 7px 10px 8px;
			height: 30px;
			overflow: hidden;
			}
			#content #grid li:hover .trans { height: auto }
			.js #content #grid li:hover { cursor: pointer; }
			.js #content #grid li:hover .trans { height: 30px }
			#content #grid li .trans h2 { 
				margin-bottom: 0.35em; 
				font-size: 2.2em; 
				height: 28px; 
				overflow: hidden; 
				line-height: 1.3em;
			}
			#content #grid li .trans h2 a { color: #fff; display: block; }
			#content #grid li.large .trans h2 a { 
				background: url(../../images/bullet-large-blue-nobg.png) no-repeat right 0.4em; 
			}
			#content #grid li.links .trans h2 a { width: 285px; }
			#content #grid li .trans p { margin-bottom: 0.1em;  }
			.js #content #grid li .trans p { width: 560px; }
			#content #grid li .business-nav {
				width: 254px;
				position: absolute;
				right: -274px;
				top: 0;
				background: #000;
				padding: 10px;
				height: 135px;
				}
				#content #grid li .business-nav dt { 
					display: block; 
					color: #fff;
					background: #262626;
					font-size: 1.6em;
					padding: 5px;
					font-weight: bold;
				}
				#content #grid li .business-nav ul {
					padding-top: 15px;
					font-size: 1.1em;
					color: #fff;
					width: auto;
					float: left;
					clear: none;
				}
				#content #grid li .business-nav li {
					background: url(../../images/bullet-small-blue-dark-bg.png) no-repeat 5px 0.2em;
					height: auto;
					width: 110px;
					float: left;
					margin: 0 0 3px 0;
					padding-left: 17px;
					line-height: 1.3em;
				    }
				    #content #grid li .business-nav li.clear {
					    width:254px;
					    padding:0;
					    clear:left;
					    margin:0;
					    background: none;
				        }
				#content #grid li .business-nav li a { color: #fff; }
				#content #grid li .business-nav li a:hover { color: #29ABE2; }
				
		

/*end business part */