@{
    Layout = "~/Views/Shared/NewsLayout.cshtml";
}
<input type="hidden" id="pagename" value="copyright" />
<p>
   如鸿岁月（网址：http://www.chinart1921－1949.com）网站内相关内容（包括但不限于文字、图片、音频、视频资料及页面设计、编排、软件等）均受《中华人民共和国著作权法》、《中华人民共和国商标法》、《中华人民共和国专利法》及适用之国际公约中有关著作权、商标权、专利权及／或其它财产所有权法律的保护，为华艺国际文化交流有限公司(美国)独立拥有和/或相关内容提供者共同拥有。
</p>
<p>
访问者可将本网站提供的内容或服务用于个人学习、研究或欣赏，以及其他非商业性或非盈利性用途，但同时应遵守著作权法及其他相关法律的规定，不得侵犯本网站及相关权利人的合法权利。除此以外，将本网站任何内容或服务用于其他用途时，须征得本网站及相关权利人的书面许可，并支付报酬。已经由华艺国际文化交流有限公司(美国)授权使用作品的，应在授权范围内使用。对于违反上述声明者，华艺国际文化交流有限公司(美国)将追究其相关法律责任。
本网站内容原作者如不愿意在本网站刊登内容，请及时通知本站，予以删除。
</p>
<p>

如因作品内容、版权和其它问题需要同如鸿岁月网站联系的，请按以下联系方式与我们联络：
</p>
<p>
联系人：吴岩
联系电话：86-025-83200984
电子信箱:chinart2004@hotmail.com
</p>