@model IList<ROC.Models.News>
           


<div id="main">
    <div id="content">
        <div id="billboard">
            <article id="mainpic">
                <img src="@Url.Content("~/Content/images/main.jpg")" alt="人民的胜利" />
               @* <ul>
                    <li><a>专题相册</a></li>
                    <li><a>活动详情</a></li>
                </ul>*@
            </article>
        </div>
        <aside class="promos">
				<ul>
					<li><a href="/Home/historypeople"><img src="@Url.Content("~/Content/images/left.jpg")" alt="岁月相册" width="350" height="250" /></a></li>
					<li ></li>
                    <li><a href="/Home/photogallary"><img src="@Url.Content("~/Content/images/right.jpg")" alt="岁月故事" width="350" height="250" /></a></li>
				</ul>
		</aside>

    </div>
</div>