

 <div class="centerBox">
        <div class="centerSize">
            <div class="exCenLeft" style="background: url(image/newLeftBg.gif) repeat-y #FFFFFF">
                <div class="newLeftBox">
                    <h3 class="aboutWeTit">
                        关于我们</h3>
                    <ul class="newNav">
                        <li><a href="#" class="newHov">运营理念</a></li>
                        <li><a href="cn_about_02.asp">RAM空间</a></li>
                        <li><a href="cn_about_03.asp">建筑及历史</a></li>
                        <li><a href="cn_about_04.asp">宣传片播放</a></li>
                        <li><a href="cn_about_05.asp">特别感谢</a></li>
                        <li><a href="cn_about_06.asp">联系我们</a></li>
                    </ul>
                </div>
                <div class="newRigBox">
                    上海外滩美术馆座落于上海黄浦江与苏州河交汇之处的外滩源片区，是一个建立在历史文化遗产之上，服务于当代艺术的推广与交流的国际平台。
                    <br />
                    <br />
                    美术馆以“人文的关照、艺术的推广”为使命，致力于当代视觉艺术的研究、交流与推广，并通过丰富多样的展览和教育活动，促进有关文化和社会议题的讨论，为社区民众提供优质的教育、审美和休闲资源，以此推动社会进步和城市生活品质的提升。
                    <br />
                    <br />
                    作为外滩地区唯一的当代艺术博物馆，本馆也依托自身的文化传统和汇聚潮流的区域优势，努力将外滩建成为融合艺术、设计和创意的上海新生活美学空间。
                    <br />
                    <br />
                    
                </div>
                <div class="clearNew">
                </div>
            </div>
           </div>
           <div style="height: 20px;"></div>
          </div>