@model ROC.Models.PictureStory
@{
    ViewBag.Title = "PicStory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadStaff {
    <script type="text/javascript">
        $(function () {
            $("#accordion").accordion({
                fillSpace: true
            });
        });
       
    </script>
}
<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td valign="top" width="158">
            <table cellspacing="0" cellpadding="0" border="0" width="158">
                <tr bgcolor="#6986A4">
                    <td valign="top" width="158">
                        <a style="color: White; font-size: 2em"></a>
                    </td>
                </tr>
                <tr bgcolor="#6986A4">
                    <td id="sideBarCell" valign="top" width="158">
                        <div id="accordionResizer" style="padding: 10px; width: 180px; height: 400px" class="ui-widget-content">
                            <div id="accordion">
                                <h3>
                                    <a href="#">Section 1</a></h3>
                                <div>
                                </div>
                                <h3>
                                    <a href="#">Section 2</a></h3>
                                <div>
                                </div>
                                <h3>
                                    <a href="#">Section 3</a></h3>
                                <div>
                                    <ul>
                                        <li>List item one</li>
                                        <li>List item two</li>
                                        <li>List item three</li>
                                    </ul>
                                </div>
                                <h3>
                                    <a href="#">Section 4</a></h3>
                                <div>
                                </div>
                            </div>
                            <span class="ui-icon ui-icon-grip-dotted-horizontal" style="margin: 2px auto;"></span>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <!-- End Side Nav Pane -->
        <td valign="top" width="100%">
         
            
            <table cellspacing="0" cellpadding="15" border="0" width="100%">
                <tr>
                    <td colspan="2" align="right">
                        <!-- JiaThis Button BEGIN -->
                        <div id="ckepop">
                            <a href="http://www.jiathis.com/share/" class="jiathis jiathis_txt jtico jtico_jiathis"
                                target="_blank">分享</a> <span class="jiathis_separator">|</span> <a class="jiathis_button_qzone">
                                </a><a class="jiathis_button_tsina"></a><a class="jiathis_button_icons_1"></a>
                            <a class="jiathis_button_icons_2"></a>
                        </div>
                        <script type="text/javascript" src="http://v1.jiathis.com/code/jia.js" charset="utf-8"></script>
                        <!-- JiaThis Button END -->
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <div style="float: left; width: 500px">
                            <a name="content"></a>
                            <h1>@Model.Title</h1>
                            <h3>
                                来源：@Model.Source</h3>
                            <div>
                                @Html.Raw(Model.DetailContent)</div>
                        </div>
                    </td>
                </tr>
            </table>
      
        </td>
    </tr>
</table>
