@model IEnumerable<ROC.Models.PictureStory>

@{
    ViewBag.Title = "PicStory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section HeadStaff {
    <script type="text/javascript">
        $(function () {
            $("#accordion").accordion({
                fillSpace: true
            });
        });
       
	</script>
}
<div id="accordionResizer" style="padding:10px; width:180px;height:400px" class="ui-widget-content">

    <div id="accordion">
	    <h3><a href="#">Section 1</a></h3>
	    <div>
		    
	    </div>
	    <h3><a href="#">Section 2</a></h3>
	    <div>
		    
	    </div>
	    <h3><a href="#">Section 3</a></h3>
	    <div>
		    <ul>
			    <li>List item one</li>
			    <li>List item two</li>
			    <li>List item three</li>
		    </ul>
	    </div>
	    <h3><a href="#">Section 4</a></h3>
	    <div>
		    
	    </div>
    </div>

    <span class="ui-icon ui-icon-grip-dotted-horizontal" style="margin:2px auto;"></span>
</div><!-- End accordionResizer -->






<div>
    <table>
    

@foreach (var item in Model) {
    <tr>
       
        <td>
            @item.Title
        </td>
        
       
    </tr>
}

</table>
</div>
