@{
    Layout = "~/Views/Shared/NewsLayout.cshtml";
}

<input type="hidden" id="pagename" value="teamstory" />
<p>
2011年7月:《人民的胜利》照片集首发及捐赠仪式
<br />
2011年4月－6月 筹备如鸿岁月网站
<br />
2010年11月至今 : 《如鸿岁月》数码档案库升级
<br />
2010年11月－2011年6月:《人民的胜利》
<br />
2010年11月－2011年6月:《人民的胜利》历史照片专集
<br />
2010年8月－11月:《人民的胜利》资料收集与整理
<br />
2010年8月：《如鸿岁月》数码档案库完成，筹备《人民的胜利》历史照片专集
<br />
2009年7月－2010年8月：《如鸿岁月》数码档案库完善
<br />
2008年12月－2009年7月:《如鸿岁月》宣传影片制作
<br />
2008年12月－2009年1月:搜集相关素材并进行筛选
<br />
2009年1月－3月:建立建筑3D数据模型
<br />
2009年4月－5月:制作动画场景
<br />
2009年5月－6月:完善和局部调整
<br />
2009年6月－7月:《如鸿岁月》宣传册
<br />
2008年6月: 筹建《如鸿岁月》数码档案库
<br />
2008年－2009年4月:《如鸿岁月》样稿
<br />
1997年－2008年：《民国美术词典（图典）》《民国沪宁建筑图典》《民国建筑史》《民国史志ⅠⅡ》
</p>