

 <div id="sideNav">

    <ul>

        @foreach (var item in Page.CategoryList) {
              
                <li><a href="@Url.Action("News","Home",new {id=item.Id})">@item.CategoryName</a></li>   
        }

    </ul>

</div>






